<div class="animated fadeIn">
    <div class="card-columns">
        <div class="card animated fadeIn" ng-repeat="p in produits">
            <img ng-click="showImage(p)" class="card-img-top" ng-src="{{p.listImageProduit[0].image}}" alt="image du produit" style="cursor: pointer">
            <div class="card-body">
                <h6 class="card-title text-muted font-weight-bold">{{p.libelle}}</h6>
                <span class="text-center small text-muted">Prix initial:&nbsp;{{p.prix | awnum:false:false:false:false:true:' ':false:false}}&nbsp;FCFA</span><br>
                <span class="text-center small text-muted">Prix recommandés&nbsp;{{p.prixMin | awnum:false:false:false:false:true:' ':false:false}}&nbsp;FCFA&nbsp;~&nbsp;{{p.prixMax | awnum:false:false:false:false:true:' ':false:false}}&nbsp;FCFA</span>
            </div>
            <div class="card-footer">
                <button ng-click="showEditProduitModal(p)" class="btn btn-sm btn-outline-primary" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-original-title="Editer {{p.libelle}}"><i class="icon-pencil"></i></button>
                <button ng-if="p.status == 0" ng-click="enableDisableProduit(p, 'activer')" class="btn btn-sm btn-outline-success" data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="Activer {{p.libelle}}"><i class="icon-check text-success"></i></button>
                <button ng-if="p.status == 1" ng-click="enableDisableProduit(p, 'desactiver')" class="btn btn-sm btn-outline-danger" data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="Désactiver {{p.libelle}}"><i class="icon-ban text-danger font-weight-bold"></i></button>
                <button ng-click="deleteProduit(p)" class="btn btn-sm btn-outline-secondary" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-original-title="Supprimer {{p.libelle}}"><i class="icon-close font-weight-bold"></i></button>
                <a href="" class="btn btn-link btn-sm" data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="+ détails sur {{p.libelle}}"><i class="icon-options"></i></a>
            </div>
        </div>
    </div>
</div>
