<div class="animated fadeIn">
    <div class="table-responsive">
        <table class="table table-hover table-outline mb-0 hidden-sm-down animated fadeIn">
            <thead class="thead-light">
            <tr>
                <th class="text-center small font-weight-bold"><i class="fa fa-asterisk"></i></th>
                <th class="text-center small font-weight-bold"><i class="icon-picture"></i></th>
                <th class="small font-weight-bold text-center">Référence</th>
                <th class="small font-weight-bold text-center">Nom produit</th>
                <th class="small font-weight-bold text-center">Prix (FCFA)</th>
                <th class="small font-weight-bold text-center">Prix min. (FCFA)</th>
                <th class="small font-weight-bold text-center">Prix max. (FCFA)</th>
                <th class="small text-center font-weight-bold">Quantité</th>
                <th class="small font-weight-bold">Statut</th>
                <th class="small font-weight-bold">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-show="totalProduit <= 0 || !totalProduit">
                <td class="small text-center text-danger alert alert-danger animated fadeIn" role="alert" colspan="10"><i class="icon-social-dropbox
"></i>&nbsp;Aucune donn&eacute;e disponible </td>
            </tr>
            <tr ng-repeat="p in produits">
                <td class="text-center animated fadeIn">{{$index+1}}</td>
                <td class="text-center animated fadeIn">
                    <div class="avatar" style="cursor: pointer">
                        <img ng-click="showImage(p)" ng-src="{{p.listImageProduit[0].image}}" class="img-avatar" alt="photo" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-original-title="{{'Visionner d\'autres images de ' + p.libelle + ' ?'}}">
                    </div>
                </td>
                <td class="small text-center animated fadeIn">
                    <div class="text-truncate" style="max-width: 120px;" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-original-title="{{p.referenceProduit}}">{{p.referenceProduit}}</div>
                </td>
                <td class="small text-center animated fadeIn">
                    <div class="text-truncate" style="max-width: 120px;" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-original-title="{{p.libelle}}">{{p.libelle}}</div>
                </td>
                <td class="small text-center animated fadeIn">{{p.prix | awnum:false:false:false:false:true:' ':false:false}}</td>
                <td class="small text-center animated fadeIn">{{p.prixMin | awnum:false:false:false:false:true:' ':false:false}}</td>
                <td class="small text-center animated fadeIn">{{p.prixMax | awnum:false:false:false:false:true:' ':false:false}}</td>
                <td class="small text-center animated fadeIn">{{p.quantite | awnum:false:false:false:false:true:' ':false:false}}</td>
                <td class="text-center animated fadeIn">
                    <i ng-class="getStatusProduit(p).icon" class="text-{{getStatusProduit(p).state}}" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-original-title="{{getStatusProduit(p).text}}"></i>
                </td>
                <td class="text-center">
                    <div class="btn-group">
                        <button ng-click="showEditProduitModal(p)" class="btn btn-outline-primary btn-sm" type="button" data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="Modifier {{p.libelle}} ?">
                            <i class="icon-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a ng-if="p.status == 0" ng-click="enableDisableProduit(p, 'activer')" class="dropdown-item" href="#"><i class="icon-check text-success"></i>Activer</a>
                            <a ng-if="p.status == 1" ng-click="enableDisableProduit(p, 'desactiver')" class="dropdown-item" href="#"><i class="icon-ban text-danger font-weight-bold"></i>Désactiver</a>
                            <a class="dropdown-item" ng-click="deleteProduit(p)" href="#"><i class="icon-close font-weight-bold"></i>Supprimer</a>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
