<style>
    #mapDetails{
        height: 200px; /*permet d'agrandir le champ d'affichage de la map. Sinon on ne verra rien*/
    }
</style>

<div class="animated fadeIn mt-2">
    <!--Infos générales-->
    <div class="row mb-3">
        <div class="col-md-4 pr-1">
            <img ng-src="{{abonneDetails.photoIdentite}}" width="100" height="120" alt="logo" class="image-border">
        </div>
        <div class="col-md-8 pl-1">
            <span class="small text-muted"><span class="font-weight-bold">Profession: </span>{{abonneDetails.profession || 'Non défini'}}</span>
            <div class="float-right" ng-if="statutDemande === 0">
                <button ng-disabled="demande.demandeState === 1" ng-click="decisionDemand(abonneDetails.demande, 'accept')" type="button" class="btn btn-outline-success btn-sm" data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="Valider la demande de {{abonneDetails.nom +' '+ abonneDetails.prenoms}}"><i class="fa fa-check"></i><span ng-if="demande.loadSpinAccept" class="animated fadeIn">&nbsp;&nbsp;<i class="fa-spin fa fa-spinner"></i></span></button> <!--ng-click="decisionDemand(abonneDetails.demande, 'reject')"--> <!--a mettre dans rejet-->
                <button ng-disabled="demande.demandeState === 3" type="button" class="btn btn-outline-danger btn-sm" ng-click="showPopupMotifRejet()" data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="Rejeter la demande de {{abonneDetails.nom +' '+ abonneDetails.prenoms}}"><i class="fa fa-close"></i><span ng-if="demande.loadSpinReject" class="animated fadeIn">&nbsp;&nbsp;<i class="fa-spin fa fa-spinner"></i></span></button>
            </div>
            <br>
            <span class="small text-muted"><span class="font-weight-bold">Téléphone: </span>{{abonneDetails.mobileNumber || 'Non défini'}}</span><br>
            <span class="small text-muted"><span class="font-weight-bold">Adresse: </span>{{abonneDetails.address || 'Non défini'}}</span><br>
            <span class="small text-muted"><span class="font-weight-bold">Email: </span>{{abonneDetails.email || 'Non défini'}}</span><br>
            <span class="small text-muted"><span class="font-weight-bold">Date de naissance: </span>{{abonneDetails.dateNaissance || 'Non défini'}}</span><br>
            <span class="small text-muted"><span class="font-weight-bold">Sexe: </span>{{abonneDetails.sexe || 'Non défini'}}</span><br>
        </div>
    </div>
    <!--Position sur la carte-->
    <div class="animated fadeIn" id="mapDetails"></div>
    <!--/.row-->
</div>
