<style>
    .profile-user-info-striped {
        border: 1px solid #DCEBF7;
    }
    .profile-user-info {
        display: table;
        width: 98%;
        width: calc(100% - 24px);
        margin: 0 auto;
    }
    .profile-info-row:first-child .profile-info-name, .profile-info-row:first-child .profile-info-value {
        border-top: none;
    }
    .profile-user-info-striped .profile-info-name {
        color: #336199;
        background-color: #EDF3F4;
        border-top: 1px solid #F7FBFF;
    }
    .profile-info-name {
        text-align: left;
        padding: 6px 10px 6px 4px;
        font-weight: 400;
        color: #667E99;
        background-color: transparent;
        width: 80px;
        vertical-align: middle;
    }
    .profile-info-name, .profile-info-value {
        display: table-cell;
        border-top: 1px dotted #D5E4F1;
        vertical-align: middle;
        padding-left: 6px;
    }
    .profile-info-row {
        display: table-row;
    }
    #mapSize {
        height: 200px;
    }
</style>


<div class="card" ng-class="getStatusInfo(demandeur)">
    <div class="card-body">
        <!--Infos générales-->
        <div class="row mb-4">
            <div class="col-sm-3">
                <div class="col-md-12 mb-2">
                    <img ng-src="{{abonneInfo.photoIdentite}}" width="100" height="120" alt="logo" class="image-border">
                </div>
                <div class="col-sm-12">
                    <div class="callout callout-info">
                        <small class="text-muted">Dernière activité</small><br>
                        <strong class="small">{{abonneInfo.seen | date_relative}}</strong>
                    </div>
                </div><!--/.col-->
            </div>
            <!--/.col-->
            <div class="col-sm-4">
                <h6 class="mb-3 text-muted"><strong>Identification</strong></h6>
                <div class="profile-user-info profile-user-info-striped">
                    <div class="profile-info-row small">
                        <div class="profile-info-name">&nbsp;Nom </div>
                        <div class="profile-info-value">{{abonneInfo.nom || 'Non défini'}}</div>
                    </div>
                    <div class="profile-info-row small">
                        <div class="profile-info-name">&nbsp;Prénoms </div>
                        <div class="profile-info-value">{{abonneInfo.prenoms || 'Non défini'}}</div>
                    </div>
                    <div class="profile-info-row small">
                        <div class="profile-info-name">&nbsp;Sexe </div>
                        <div class="profile-info-value">{{abonneInfo.sexe || 'Non défini'}}</div>
                    </div>
                    <div class="profile-info-row small">
                        <div class="profile-info-name text-truncate" style="max-width: 50px;" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-original-title="Date de naissance">&nbsp;Date de naissance </div>
                        <div class="profile-info-value" ng-bind="abonneInfo.dateNaissance | courte_date">Non défini</div>
                    </div>
                    <div class="profile-info-row small">
                        <div class="profile-info-name">&nbsp;Profession </div>
                        <div class="profile-info-value">{{abonneInfo.profession || 'Non défini'}}</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <h6 class="mb-3 text-muted"><strong>Contacts & Localisation</strong></h6>
                <div class="profile-user-info profile-user-info-striped">
                    <div class="profile-info-row small">
                        <div class="profile-info-name">&nbsp;Téléphone </div>
                        <div class="profile-info-value">{{abonneInfo.mobileNumber || 'Non défini'}}</div>
                    </div>
                    <div class="profile-info-row small">
                        <div class="profile-info-name">&nbsp;Email </div>
                        <div class="profile-info-value">{{abonneInfo.email || 'Non défini'}}</div>
                    </div>
                    <div class="profile-info-row small">
                        <div class="profile-info-name">&nbsp;Pays </div>
                        <div class="profile-info-value">{{demandeur.paysAbonne || 'Non défini'}}</div>
                    </div>
                    <div class="profile-info-row small">
                        <div class="profile-info-name">&nbsp;Ville </div>
                        <div class="profile-info-value text-truncate" style="max-width: 150px;" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-original-title="{{abonneInfo.ville || 'Non défini'}}">{{abonneInfo.ville || 'Non défini'}}</div>
                    </div>
                    <div class="profile-info-row small">
                        <div class="profile-info-name">&nbsp;Adresse </div>
                        <div class="profile-info-value">{{abonneInfo.address || 'Non défini'}}</div>
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>

        <!--Position sur la carte-->
        <div class="animated fadeIn" id="mapSize"></div>
        <!--/.row-->
    </div>
</div>

