<div class="animated fadeIn">
    <div class="card border-0">
        <div class="card-header text-center text-white bg-primary" style="z-index: 2; color: #fff !important; box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(32, 167, 216, 0.4);">
            <h3 class="font-weight-bold">E-commerciaux&nbsp;<span class="badge badge-secondary badge-pill" data-toggle="tooltip" data-placement="right" data-trigger="hover" data-original-title="{{totalDemandeAbonne + ' demande(s) ' + statutTabDemande + ' au total'}}" ng-bind="totalDemandeAbonne">0</span></h3>
        </div>
        <!--<div class="mt-3 text-center text-muted font-weight-bold font-italic font-2xl" style="color: #d4d7d8">Aucune demande disponible pour l'instant</div>-->
        <div class="row mt-3" style="overflow-y: auto;" ng-style="{'height': windowHeightC}">
            <div class="col-md-8">
                <div class="row mt-1">
                    <div class="col-sm-4 pr-1">
                        <h3 class="card-title clearfix mb-0 text-muted font-weight-bold" style="font-size: 100%;
  font-weight: 400;"><i class="fa fa-list fa-1x"></i>&nbsp;|&nbsp;Liste des demandes <!--A changer en fonction du filtre--></h3>
                    </div>
                    <div class="col-sm-4 pl-1 pr-1">
                        <!--recherche-->
                        <form>
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                <input ng-model="criteria.nomAbonne" ng-change="searchDemandeur(criteria)" type="text" class="form-control input search font-italic" placeholder="Rechercher un nom...">
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-4 pl-1">
                        <!--mettre le filtre-->
                        <div class="btn-group" role="group" data-toggle="buttons">
                            <label class="btn btn-outline-warning btn-sm active" style="cursor: pointer" ng-click="getDemandeurByStatut('en_attente')">
                                <input type="radio">En attente
                            </label>
                            <label class="btn btn-outline-success btn-sm" style="cursor: pointer" ng-click="getDemandeurByStatut('valide')">
                                <input type="radio">Validée
                            </label>
                            <label class="btn btn-outline-danger btn-sm" style="cursor: pointer" ng-click="getDemandeurByStatut('rejete')">
                                <input type="radio">Réjetée
                            </label>
                        </div>
                    </div>
                </div>
                <hr class="mb-0">
                <div class="table-responsive">
                    <table class="table table-sm table-hover table-outline mb-0 hidden-sm-down">
                        <thead class="thead-light">
                        <tr>
                            <th class="text-center small font-weight-bold"><i class="fa fa-asterisk"></i></th>
                            <th class="text-center small font-weight-bold"><i class="icon-people"></i></th>
                            <th class="small font-weight-bold text-center">Clients potentiels</th>
                            <th class="small font-weight-bold text-center">Pays</th>
                            <th class="small font-weight-bold text-center">Date demande</th>
                            <th class="small font-weight-bold">Statut demande</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-show="totalDemandeAbonne <= 0 || !totalDemandeAbonne">
                            <td class="small text-center text-muted" colspan="6"> Aucune donn&eacute;e disponible </td>
                        </tr>
                        <tr ng-repeat="demande in demandesAbonne" style="cursor: pointer" ui-sref="app.ecommerciaux.demandeurs.details({idAbonne: {{::demande.idAbonne}}, idDemande: {{::demande.id}}})" ng-click="selectLigneDemandeur(demande.id)" ng-class="{'selected': demande.id === selectedDemandeur}">
                            <td class="text-center">{{$index+1}}</td>
                            <td class="text-center">
                                <div class="avatar" ng-click="voirInfoDemandeur(demande)" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-original-title="Plus d'infos sur {{demande.nomAbonne}}" style="cursor: pointer">
                                    <img ng-src="{{demande.photoAbonne}}" class="img-avatar" alt="photo">
                                    <span class="avatar-status" ng-class="getStatusBadge(demande)"></span>
                                </div>
                                <div class="small">{{demande.nomAbonne + ' ' + demande.prenomAbonne}}</div>
                            </td>
                            <td class="small text-center">{{demande.sesContactsAbonne | awnum:false:false:false:false:true:' ':false:false}}</td>
                            <td class="small text-center">{{demande.paysAbonne}}</td>
                            <td class="small text-center"><span data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="{{demande.dateDemande | longue_date}}">{{demande.dateDemande | date_relative}}</span></td>
                            <td class="text-center">
                                <span class="badge badge-pill" ng-class="getStatusBadge(demande)">{{getStatusAbonne(demande)}}</span>
                                <!--<i ui-sref="app.ecommerciaux.details({idAbonne: {{::demande.idAbonne}}, idDemande: {{::demande.id}}})" class="ml-2 icon-plus"></i>-->
                                <!--<a href  ui-sref="app.ecommerciaux.details({idAbonne: {{::demande.idAbonne}}, idDemande: {{::demande.id}}})">+details</a>-->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-switch="search">
                    <div ng-switch-when="false">
                        <div ng-show="totalDemandeAbonne > 5" class="pagination pagination-sm float-sm-right mt-3">
                            <ul uib-pagination total-items="totalDemandeAbonne" ng-model="currentPage" max-size="max_size" boundary-link-numbers="true" items-per-page="sizeDemande" ng-change="getDemandeAbonne(statutDemande, currentPage -1,sizeDemande)" boundary-links="true" class="pagination-sm" rotate="true" force-ellipses="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                        </div>
                    </div>
                    <div ng-switch-when="true">
                        <div ng-show="totalDemandeAbonne > 5" class="pagination pagination-sm float-sm-right mt-3">
                            <ul uib-pagination total-items="totalDemandeAbonne" ng-model="currentPageS" max-size="max_size" boundary-link-numbers="true" items-per-page="sizeDemande" ng-change="searchDemandeur(criteria, currentPageS -1,sizeDemande)" boundary-links="true" class="pagination-sm" rotate="true" force-ellipses="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                        </div>
                    </div>
                </div>
            </div> <!--Liste des demandeurs-->
            <div class="col-md-4 pl-0 mt-2">
                <br>
                <br>
                <div ng-show="totalDemandeAbonne > 0" ui-view="abonne_info">
                    <div class="text-center text-muted font-weight-bold font-italic font-2xl" style="color: #d4d7d8">Veuillez cliquer sur un demandeur pour voir ses informations</div>
                </div>
            </div> <!--détails d'un demandeur-->
        </div>
    </div>
</div>
