
<div class="animated fadeIn">
    <div class="card border-0">
        <div class="card-header text-center text-white bg-primary" style="z-index: 2; color: #fff !important; box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(32, 167, 216, 0.4);">
            <h3 class="font-weight-bold">Géolocalisation par statut</h3>
        </div>
        <div class="card-body">
            <div class="row pt-2">
                <div class="col-md-12 clearfix">
                    <div class="float-left">
                        <!--mettre le filtre-->
                        <div class="btn-group" role="group" data-toggle="buttons">
                            <label class="btn btn-outline-secondary btn-sm active" style="cursor: pointer" ng-click="getAbonneByStateLocalisation('tous')">
                                <input type="radio">Tous
                            </label>
                            <label class="btn btn-outline-warning btn-sm" style="cursor: pointer" ng-click="getAbonneByStateLocalisation('en_attente')">
                                <input type="radio">En attente
                            </label>
                            <label class="btn btn-outline-success btn-sm" style="cursor: pointer" ng-click="getAbonneByStateLocalisation('valide')">
                                <input type="radio">Validée
                            </label>
                            <label class="btn btn-outline-danger btn-sm" style="cursor: pointer" ng-click="getAbonneByStateLocalisation('rejete')">
                                <input type="radio">Réjetée
                            </label>
                        </div>
                    </div>
                    <div class="float-right">
                        <!--mettre le filtre-->
                        <div class="btn-group" role="group" data-toggle="buttons">
                            <label class="btn btn-outline-success btn-sm" style="cursor: pointer" ng-click="getAbonneByStateLocalisation('valide')">
                                <input type="radio">Online
                            </label>
                            <label class="btn btn-outline-danger btn-sm" style="cursor: pointer" ng-click="getAbonneByStateLocalisation('en_attente')">
                                <input type="radio">Offline
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!--Affichage de la carte-->
            <div class="animated fadeIn" id="mapStatut" ng-style="{height: windowHeightCS}"></div>
            <!--/.row-->
        </div>
    </div>
</div>
