<style>
  .background1{
    margin: 0;
    padding: 0;
    background: #fff;

    color: #fff;
    font-family: Arial;
    font-size: 12px;
  }

  .background{
    position: fixed;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background-image: url('img/bg12.jpg');
    background-size: cover;
    -webkit-filter: blur(0px);
    z-index: 0;
    /*background-color: #2E363F;*/
  }
</style>

<div class="app flex-row align-items-center animated fadeIn background">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5 col-sm-10">
        <div class="card-group">
          <div class="card border-primary p-4">
            <div class="card-header bg-primary">
              <h1 class="text-center">Connexion</h1>
            </div>
              <div class="card-body">
                <form name="loginFrm" ng-submit="!userLogin || connexion(userLogin)" class="ng-pristine ng-invalid ng-invalid-required mt-3" autocomplete="off" novalidate>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="icon-user"></i></span>
                      <input type="text" class="form-control form-control-sm" placeholder="Identifiant" enter-key="!userLogin || connexion(userLogin)" name="identifiant" ng-model="userLogin.login" required only-alpha-numeric autofocus>
                    </div>
                    <div ng-messages="loginFrm.identifiant.$error" ng-if="loginFrm.$submitted" class="animated shake">
                      <small class="text-danger" ng-message="required">L'identifiant est requis</small>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="icon-lock"></i></span>
                      <input enter-key="!userLogin || connexion(userLogin)" name="motDePasse" ng-model="userLogin.password" type="{{inputType}}" class="form-control form-control-sm" placeholder="Mot de passe" required>
                      <span ng-click="hideShowPassword()" class="input-group-addon"><i class="fa text-dark" ng-class="{'fa-eye': inputType == 'password', 'fa-eye-slash': inputType == 'text'}"></i></span>
                    </div>
                    <div ng-messages="loginFrm.motDePasse.$error" ng-if="loginFrm.$submitted" class="animated shake">
                      <small class="text-danger" ng-message="required">Le mot de passe est requis</small>
                    </div>
                  </div>
                  <div class="row pt-3">
                    <div class="col-6">
                      <button type="submit" class="btn btn-success px-3 btn-sm"><i class="fa fa-dot-circle-o"></i>&nbsp;Se connecter&nbsp;<span ng-if="loadSpin" class="animated fadeIn"><i class="fa-spin fa fa-spinner"></i></span></button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0 btn-sm">Mot de passe oublié ?</button>
                      <button ui-sref="connexion.register" type="button" class="btn btn-link px-0 btn-sm"> S'inscrire ?</button>
                    </div>
                  </div>
                </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $(".background").backstretch([
        "img/bg12.jpg",
        "img/bg14.jpg",
        "img/bg16.jpg",
        "img/bg17.jpg"
    ], {duration: 120000, fade: 2000});
</script>