<style>
    .background1{
        margin: 0;
        padding: 0;
        background: #fff;

        color: #fff;
        font-family: Arial;
        font-size: 12px;
    }

    .background{
        position: fixed;
        top: -20px;
        left: -20px;
        right: -40px;
        bottom: -40px;
        width: auto;
        height: auto;
        background-image: url('img/bg12.jpg');
        background-size: cover;
        -webkit-filter: blur(0px);
        z-index: 0;
        /*background-color: #2E363F;*/
    }
</style>

<div class="app flex-row align-items-center animated fadeIn background">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card mx-4">
            <div class="card-header text-white bg-primary">
                <div class="row">
                    <div class="col-md-3 mt-2">
                        <button ng-click="goToConnexion()" type="button" class="btn btn-sm btn-outline-danger text-white" data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="Retour à la page de connexion"><i class="icon-action-undo"></i> Retour</button>
                    </div>
                    <div class="col-md-6 text-center">
                        <h3>Cr&eacute;er un compte</h3>
                    </div>
                </div>
            </div>
            <div class="card-body p-4">
                <div class="card">
                  <wizard name="wz-register" hide-indicators="false" on-finish="creerChanel(entreprise)" indicators-position="top" ng-init="entreprise = {}">
                      <br/>
                      <form>
                          <wz-step wz-title="Profil entreprise">
                              <!--infos à mettre-->
                              <div class="card-body animated fadeIn">
                                  <div class="row">
                                      <div class="col-sm-6">
                                          <div class="">
                                              <div class="card-body">
                                                  <div class="form-group row">
                                                      <div class="col-md-12">
                                                          <div class="input-group">
                                                              <span class="input-group-addon"><i class="icon-puzzle"></i></span>
                                                              <input ng-model="entreprise.nomChanel" type="text" class="form-control form-control-sm" placeholder="Nom de l'entreprise (Raison sociale)" limit-char-to="255" only-alpha-numeric autofocus>
                                                              <!--<input mask='39/19/9999' type="text" class="form-control" ng-model="rt">-->
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group row">
                                                      <div class="col-md-12">
                                                          <div class="input-group">
                                                              <span class="input-group-addon"><i class="icon-puzzle"></i></span>
                                                              <input ng-model="entreprise.formeJuridique" type="text" class="form-control form-control-sm" placeholder="Forme juridique" limit-char-to="255" only-alpha-numeric>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group row">
                                                      <div class="col-md-12">
                                                          <div class="input-group">
                                                              <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                              <input ng-model="entreprise.numeroRegistre" type="text" class="form-control form-control-sm" placeholder="N° de registre" limit-char-to="255" only-alpha-numeric>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group row">
                                                      <div class="col-md-12">
                                                          <div class="input-group">
                                                              <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                              <input ng-model="entreprise.numeroImmatriculation" type="text" class="form-control form-control-sm" placeholder="N° d'immatriculation" limit-char-to="255" only-alpha-numeric>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group row">
                                                      <div class="col-md-12">
                                                          <div class="input-group">
                                                              <span class="input-group-addon"><i class="icon-puzzle"></i></span>
                                                              <input ng-model="entreprise.sigle" upper-case type="text" class="form-control form-control-sm" placeholder="Sigle" limit-char-to="255">
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-6">
                                          <div class="">
                                              <div class="card-body">
                                                  <div class="form-group row">
                                                      <div class="col-md-12">
                                                          <div class="input-group input-group-sm">
                                                              <span class="input-group-addon small">Secteur d'activité</span>
                                                              <select ng-model="entreprise.idSecteurActivite" class="form-control form-control-sm">
                                                                  <option selected>---Sélectionner un secteur d'activité---</option>
                                                                  <option ng-repeat="sa in secteursActivites" value="{{sa.id}}">{{sa.libelle}}</option>
                                                              </select>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group row">
                                                      <div class="col-md-12">
                                                          <div class="input-group">
                                                              <span class="input-group-addon"><i class="icon-puzzle"></i></span>
                                                              <textarea ng-model="entreprise.descriptionSecteur" type="text" class="form-control form-control-sm" placeholder="Description du secteur" rows="4" limit-char-to="255"></textarea>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group row">
                                                      <div class="col-md-12">
                                                          <div class="input-group input-group-sm">
                                                              <span class="input-group-addon">Logo</span>
                                                              <input ng-model="entreprise.logo" name="logo" type="file" accept="image/*" app-filereader class="form-control form-control-sm" id="file" ng-value="entreprise.logo" placeholder="Logo">
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div ng-if="entreprise.logo" class="animated fadeIn text-center">
                                                      <div class="col-md-12">
                                                          <img ng-src="{{entreprise.logo}}" width="100" height="100" alt="logo" class="image-border">
                                                      </div>
                                                  </div>

                                                  <!--logo-->
                                                  <!--<div class="form-group-sm row">
                                                      <div class="col-md-12">
                                                          <widget-dropzone options="dropzone"></widget-dropzone>
                                                      </div>
                                                  </div>-->
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="wizard-steps-nav text-center">
                                      <a href="#" wz-next class="btn btn-sm btn-primary text-white">Suivant&nbsp;<i class="fa fa-arrow-right"></i></a>
                                  </div>
                              </div>
                          </wz-step>
                          <wz-step wz-title="Domiciliation bancaire">
                              <!--infos à mettre-->
                              <div class="card-body animated fadeIn">
                                  <div class="row">
                                      <div class="col-sm-6">
                                          <div class="">
                                              <div class="card-body">
                                                  <div class="form-group row">
                                                      <div class="col-md-12">
                                                          <div class="input-group input-group-sm">
                                                              <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                              <input ng-model="entreprise.codeGuichet" type="text" class="form-control form-control-sm" limit-char-to="5" cannot-copy-cut-paste number-only>
                                                              <span class="input-group-addon">Code guichet</span>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group row">
                                                      <div class="col-md-12">
                                                          <div class="input-group input-group-sm">
                                                              <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                              <input ng-model="entreprise.codeBanque" type="text" class="form-control form-control-sm" limit-char-to="5" cannot-copy-cut-paste number-only>
                                                              <span class="input-group-addon">Code banque</span>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group row">
                                                      <div class="col-md-12">
                                                          <div class="input-group input-group-sm">
                                                              <span class="input-group-addon input-group-sm"><i class="fa fa-credit-card"></i></span>
                                                              <input ng-model="entreprise.numeroCompte" type="text" class="form-control form-control-sm" limit-char-to="11" cannot-copy-cut-paste number-only>
                                                              <span class="input-group-addon">N° de compte</span>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group row">
                                                      <div class="col-md-12">
                                                          <div class="input-group input-group-sm">
                                                              <span class="input-group-addon"><i class="icon-puzzle"></i></span>
                                                              <input ng-model="entreprise.swift" type="text" class="form-control form-control-sm" limit-char-to="11" upper-case only-alpha-numeric cannot-copy-cut-paste>
                                                              <span class="input-group-addon">Swift</span>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-6">
                                          <div class="">
                                              <div class="card-body">
                                                  <div class="form-group row">
                                                      <div class="col-md-12">
                                                          <div class="input-group input-group-sm">
                                                              <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                              <input ng-model="entreprise.cleRib" type="text" class="form-control form-control-sm" limit-char-to="2" cannot-copy-cut-paste number-only>
                                                              <span class="input-group-addon">Clé RIB</span>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group row">
                                                      <div class="col-md-12">
                                                          <div class="input-group input-group-sm">
                                                              <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                              <input ng-model="entreprise.rib" type="text" class="form-control form-control-sm" placeholder="RIB" upper-case cannot-copy-cut-paste limit-char-to="23" only-alpha-numeric>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group row">
                                                      <div class="col-md-12">
                                                          <div class="input-group input-group-sm">
                                                              <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                              <input ng-model="entreprise.iban" type="text" class="form-control form-control-sm" placeholder="IBAN" upper-case cannot-copy-cut-paste limit-char-to="34" only-alpha-numeric>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="wizard-steps-nav text-center">
                                      <a href="#" wz-previous class="btn btn-sm btn-secondary text-white"><i class="fa fa-arrow-left text-white"></i>&nbsp;Précédent</a>
                                      <a href="#" wz-next  class="btn btn-sm btn-primary text-white">Suivant&nbsp;<i class="fa fa-arrow-right"></i></a>
                                  </div>
                              </div>
                          </wz-step>
                          <wz-step wz-title="Coordonnées & Contacts">
                              <!--infos à mettre-->
                              <div class="card-body animated fadeIn">
                                  <div class="row">
                                      <div class="col-sm-6">
                                          <div class="">
                                              <div class="card-body">
                                                  <div class="form-group row">
                                                      <div class="col-md-12">
                                                          <div class="input-group input-group-sm">
                                                              <span class="input-group-addon"><i class="icon-flag"></i></span>
                                                              <select ng-model="entreprise.pays" ng-options="p.countryNicename for p in pays" ng-change="getEtat(entreprise.pays)" class="form-control form-control-sm">
                                                              </select>
                                                              <span class="input-group-addon">Pays</span>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group row">
                                                      <div class="col-md-12">
                                                          <div class="input-group">
                                                              <span class="input-group-addon"><i class="fa fa-building-o"></i></span>
                                                              <input ng-model="entreprise.etat" ng-value="entreprise.etat" type="text" class="form-control form-control-sm" placeholder="Etat" limit-char-to="255" only-alpha-numeric>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group row">
                                                      <div class="col-md-12">
                                                          <div class="input-group">
                                                              <span class="input-group-addon"><i class="fa fa-building-o"></i></span>
                                                              <input ng-model="entreprise.ville" type="text" class="form-control form-control-sm" placeholder="Ville" limit-char-to="255" cannot-copy-cut-paste>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group row">
                                                      <div class="col-md-12">
                                                          <div class="input-group">
                                                              <span class="input-group-addon"><i class="icon-phone"></i></span>
                                                              <input ng-model="entreprise.phoneNumber" type="text" class="form-control form-control-sm" placeholder="Téléphone" cannot-copy-cut-paste limit-char-to="100">
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group row">
                                                      <div class="col-md-12">
                                                          <div class="input-group">
                                                              <span class="input-group-addon"><i class="icon-printer"></i></span>
                                                              <input ng-model="entreprise.fax" type="text" class="form-control form-control-sm" placeholder="Fax" limit-char-to="100" cannot-copy-cut-paste>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-6">
                                          <div class="">
                                              <div class="card-body">
                                                  <div class="form-group row">
                                                      <div class="col-md-12">
                                                          <div class="input-group">
                                                              <span class="input-group-addon"><i class="icon-home"></i></span>
                                                              <input ng-model="entreprise.address" type="text" class="form-control form-control-sm" placeholder="Adresse" limit-char-to="255" cannot-copy-cut-paste>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group row">
                                                      <div class="col-md-12">
                                                          <div class="input-group">
                                                              <span class="input-group-addon"><i class="icon-home"></i></span>
                                                              <input ng-model="entreprise.codePostal" type="text" class="form-control form-control-sm" placeholder="Code postal" limit-char-to="10" cannot-copy-cut-paste>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group row">
                                                      <div class="col-md-12">
                                                          <div class="input-group">
                                                              <span class="input-group-addon"><i class="icon-envelope"></i></span>
                                                              <input ng-model="entreprise.email" type="text" class="form-control form-control-sm" placeholder="Email" limit-char-to="255" cannot-copy-cut-paste>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group row">
                                                      <div class="col-md-12">
                                                          <div class="input-group">
                                                              <span class="input-group-addon"><i class="icon-globe"></i></span>
                                                              <input ng-model="entreprise.siteWeb" type="text" class="form-control form-control-sm" placeholder="Site web" limit-char-to="255" cannot-copy-cut-paste>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="wizard-steps-nav text-center">
                                      <a href="#" wz-previous class="btn btn-sm btn-secondary text-white"><i class="fa fa-arrow-left text-white"></i>&nbsp;Précédent</a>
                                      <a href="#" wz-next class="btn btn-sm btn-primary text-white">Suivant&nbsp;<i class="fa fa-arrow-right"></i></a>
                                  </div>
                              </div>
                          </wz-step>
                          <wz-step wz-title="Compte utilisateur">
                              <!--infos à mettre-->
                              <div class="card-body animated fadeIn">
                                  <div class="row">
                                      <div class="col-sm-6">
                                          <div class="">
                                              <div class="card-body">
                                                  <div class="form-group row">
                                                      <div class="col-md-12">
                                                          <div class="input-group">
                                                              <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                              <input ng-model="entreprise.chanelUsers.login" type="text" class="form-control form-control-sm" placeholder="Identifiant" limit-char-to="255" cannot-copy-cut-paste>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group row">
                                                      <div class="col-md-12">
                                                          <div class="input-group">
                                                              <span class="input-group-addon"><i class="icon-lock"></i></span>
                                                              <input cannot-copy-cut-paste ng-model="entreprise.chanelUsers.password" type="password" class="form-control form-control-sm" placeholder="Mot de passe" limit-char-to="255">
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group row">
                                                      <div class="col-md-12">
                                                          <div class="input-group">
                                                              <span class="input-group-addon"><i class="icon-lock"></i></span>
                                                              <input cannot-copy-cut-paste ng-model="confPass" type="password" class="form-control form-control-sm" placeholder="Confirmer le mot de passe">
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-6">
                                          <div class="">
                                              <div class="card-body">
                                                  <div class="form-group row">
                                                      <div class="col-md-12">
                                                          <div class="input-group">
                                                              <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                              <input ng-model="entreprise.chanelUsers.nom" type="text" class="form-control form-control-sm" placeholder="Nom de l'utilisateur" limit-char-to="255" cannot-copy-cut-paste>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group row">
                                                      <div class="col-md-12">
                                                          <div class="input-group">
                                                              <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                              <input ng-model="entreprise.chanelUsers.prenoms" type="text" class="form-control form-control-sm" placeholder="Prénom(s) de l'utilisateur" limit-char-to="255" cannot-copy-cut-paste>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group row">
                                                      <div class="col-md-12">
                                                          <div class="input-group">
                                                              <span class="input-group-addon"><i class="icon-envelope"></i></span>
                                                              <input ng-model="entreprise.chanelUsers.email" type="text" class="form-control form-control-sm" placeholder="Email" limit-char-to="255" cannot-copy-cut-paste>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="wizard-steps-nav text-center">
                                      <a href="#" wz-previous class="btn btn-sm btn-secondary text-white"><i class="fa fa-arrow-left text-white"></i>&nbsp;Précédent</a>
                                      <a href="#" wz-finish class="btn btn-sm btn-success text-white"><i class="icon-check"></i>&nbsp;Soumettre</a>
                                  </div>
                              </div>
                          </wz-step>
                      </form>
                  </wizard>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $(".background").backstretch([
        "img/bg12.jpg",
        "img/bg14.jpg",
        "img/bg16.jpg",
        "img/bg17.jpg"
    ], {duration: 120000, fade: 2000});

</script>