<div class="animated fadeIn">
    <div class="card border-0">
        <div class="card-header text-center text-white bg-primary" style="z-index: 2; color: #fff !important; box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(32, 167, 216, 0.4);">
            <h3 class="font-weight-bold">Enregistrer un nouveau produit</h3>
        </div>
        <div class="card-body" style="overflow-y: auto;" ng-style="{'height': windowHeightP}">
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="small" style="color: #f86c6b;">&nbsp;* Champ obligatoire</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12">
                            <!--Les images du produit-->
                            <div class="form-group-sm row">
                                <div class="col-md-12">
                                    <span class="small form-text text-muted">Image(s) du produit</span>
                                    <widget-dropzone options="dropzone" style="overflow-y: auto"></widget-dropzone>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <span class="form-text small text-muted">Référence du produit<span style="color: #f86c6b">&nbsp;*</span></span>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="icon-puzzle"></i></span>
                                        <input ng-model="produit.referenceProduit" upper-case type="text" class="form-control form-control-sm" placeholder="" limit-char-to="255" only-alpha-numeric>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <span class="form-text small text-muted">Libellé<span style="color: #f86c6b">&nbsp;*</span></span>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="icon-puzzle"></i></span>
                                        <input ng-model="produit.libelle" type="text" class="form-control form-control-sm" placeholder="" limit-char-to="255">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <span class="form-text small text-muted">Quantité<span style="color: #f86c6b">&nbsp;*</span></span>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                        <input ng-model="produit.quantite" type="text" class="form-control form-control-sm" placeholder="" limit-char-to="3" number-only>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <span class="form-text small text-muted">Marque<span style="color: #f86c6b">&nbsp;*</span></span>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="icon-badge"></i></span>
                                        <select ng-model="produit.idMarque" class="form-control form-control-sm">
                                            <option ng-repeat="m in marques" value="{{m.id}}">{{m.libelle}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="categorie" class="col-md-12" ng-class="{'col-md-6': produit.idCategorie !== undefined}">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <span class="form-text small text-muted">Catégorie<span style="color: #f86c6b">&nbsp;*</span></span>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-tags"></i></span>
                                        <select ng-model="produit.idCategorie" ng-change="getSousCategories(produit.idCategorie)" class="form-control form-control-sm">
                                            <option ng-repeat="c in categories" value="{{c.id}}">{{c.libelle}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="produit.idCategorie">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <span class="form-text small text-muted">Sous catégorie<span style="color: #f86c6b">&nbsp;*</span></span>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-tags"></i></span>
                                        <select ng-model="produit.idSousCategorie" class="form-control form-control-sm">
                                            <option ng-repeat="sc in sousCategories" value="{{sc.id}}">{{sc.libelle}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <span class="form-text small text-muted">Prix<span style="color: #f86c6b">&nbsp;*</span></span>
                                    <div class="input-group">
                                        <input ng-model="produit.prix" type="text" class="form-control form-control-sm" awnum num-thousand="true" num-thousand-sep="{{' '}}" num-int="10" placeholder="">
                                        <span class="input-group-addon"><b class="small">fcfa</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <rzslider rz-slider-model="slider.minValue" rz-slider-high="slider.maxValue" rz-slider-options="slider.options"></rzslider>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <span class="form-text small text-muted">Prix min.<span style="color: #f86c6b">&nbsp;*</span></span>
                                    <div class="input-group">
                                        <input ng-model="produit.prixMin" ng-change="changeMinSlider(produit.prixMin)" type="text" class="form-control form-control-sm" placeholder="" ng-value="slider.minValue | awnum:false:false:false:false:true:' ':false:false" awnum num-thousand="true" num-thousand-sep="{{' '}}" num-int="{{minNum}}">
                                        <span class="input-group-addon"><b class="small">fcfa</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <span class="form-text small text-muted">Prix max.<span style="color: #f86c6b">&nbsp;*</span></span>
                                    <div class="input-group">
                                        <input ng-model="produit.prixMax" ng-change="changeMaxSlider(produit.prixMax)" type="text" class="form-control form-control-sm" placeholder="" limit-char-to="10" ng-value="slider.maxValue | awnum:false:false:false:false:true:' ':false:false" awnum num-thousand="true" num-thousand-sep="{{' '}}" num-int="10">
                                        <span class="input-group-addon"><b class="small">fcfa</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <span class="form-text small text-muted">Taille<span style="color: #f86c6b">&nbsp;*</span></span>
                                    <div class="input-group">
                                        <span class="input-group-addon"><b class="small">cm</b></span>
                                        <input ng-model="produit.size" type="text" class="form-control form-control-sm" placeholder=""  awnum num-thousand="true" num-thousand-sep="{{' '}}" num-int="6">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <span class="form-text small text-muted">Poids<span style="color: #f86c6b">&nbsp;*</span></span>
                                    <div class="input-group">
                                        <span class="input-group-addon"><b class="small">kg</b></span>
                                        <input ng-model="produit.poids" type="text" class="form-control form-control-sm" placeholder=""  awnum num-thousand="true" num-thousand-sep="{{' '}}" num-int="6">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <span class="form-text small text-muted">Couleur(s)<span style="color: #f86c6b">&nbsp;*</span></span>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-eyedropper"></i></span>
                                        <input ng-model="produit.couleur" type="text" class="form-control form-control-sm" placeholder="" limit-char-to="255">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!--<ng-ckeditor ng-model="htmlEditor" skin="moono" remove-buttons="Image" remove-plugins="iframe,flash,smiley" msn-count="
Number of typed characters:"></ng-ckeditor>
                    <div ckeditor="options" ng-model="produit.description" placeholder="Title" ready="onReady()"></div>-->
                    <text-angular class="ta-editor" placeholder="Description du produit" name="htmlContentDescription" ng-model="produit.description" ta-disabled='disabled' ta-toolbar="[['undo','redo'], ['bold','italics','underline'], ['indent', 'outdent'], ['p', 'ul', 'ol'], ['justifyLeft','justifyCenter','justifyRight','justifyFull'], ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']]" ta-toolbar-button-class="btn btn-sm btn-secondary" ta-toolbar-active-button-class="active"></text-angular>
                </div>
            </div>
            <div class="col-md-12 mt-5">
                <div class="text-center">
                    <button ng-click="reinitProduit(produit)" class="btn btn-secondary text-white mr-3 font-weight-bold"><i class="icon-ban font-weight-bold"></i>&nbsp;Réinitialiser</button>
                    <button ng-click="saveProduit(produit)" class="btn btn-success text-white font-weight-bold"><i class="icon-check font-weight-bold"></i>&nbsp;Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
</div>
