<div class="animated fadeIn" ng-controller="mesProduitsCtrl">
    <div class="card border-0">
        <div class="card-header text-center text-white bg-primary" style="z-index: 2; color: #fff !important; box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(32, 167, 216, 0.4);">
            <h3 class="font-weight-bold">Mes produits&nbsp;<span ng-bind="totalProduit" class="badge badge-secondary badge-pill" data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="Nombre de produits au total">0</span></h3>
        </div>
        <div class="card-body ml-0" style="overflow-y: auto" ng-style="{'height': windowHeightP}">
            <!--<div class="row mb-3">
                <span class=" col-md-12 text-center small"> - Ce n'est pas encore le rendu définitif</span>
            </div>
            <hr>-->
            <div class="card card-body mb-3 p-1">
                <div class="row p-2">
                    <div class="input-group col-md-3">
                        <span class="form-text text-muted small">Marque&nbsp;</span>
                        <select ng-model="criteria.idMarque" ng-change="getCategories(criteria.idMarque)" class="form-control form-control-sm">
                            <option ng-repeat="m in marques" value="{{m.id}}">{{m.libelle}}</option>
                        </select>
                    </div>
                    <div class="input-group col-md-3">
                        <span class="form-text text-muted small">Catégorie&nbsp;</span>
                        <select ng-model="criteria.idCategorie" ng-change="getSousCategories(criteria.idCategorie)" class="form-control form-control-sm">
                            <option ng-repeat="c in categories" value="{{c.id}}">{{c.libelle}}</option>
                        </select>
                    </div>
                    <div class="input-group col-md-3" ng-if="criteria.idCategorie">
                        <span class="form-text text-muted small">Sous Catégorie&nbsp;</span>
                        <select ng-model="criteria.idSousCategorie" class="form-control form-control-sm">
                            <option ng-repeat="sc in sousCategories" value="{{sc.id}}">{{sc.libelle}}</option>
                        </select>
                    </div>
                    <div class="input-group col-md-2">
                        <span class="form-text text-muted small">Couleur&nbsp;</span>
                        <input ng-model="criteria.couleur" type="text" class="form-control form-control-sm"/>
                    </div>
                    <button ng-click="searchProduits(criteria, undefined, undefined, 'searchClick')" class="btn btn-outline-success btn-sm" data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="Cliquer pour effectuer la recherche"><i class="icon-magnifier"></i></button>
                    <button ng-click="getProduits()" class="btn btn-outline-secondary btn-sm ml-2" data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="Rafraîchir la vue"><i class="icon-refresh"></i></button>
                </div>
            </div>
            <div class="row mb-2">
                <form class="col-md-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input ng-model="criteria.libelle" ng-change="searchProduits(criteria)" type="text" class="form-control input search font-italic small" placeholder="Rechercher un nom de produit...">
                    </div>
                </form>
                <div class="input-group col-md-2 mr-1">
                    <span class="form-text text-muted small">Statut&nbsp;</span>
                    <select ng-model="criteria.status" ng-change="searchProduits(criteria)" class="form-control form-control-sm">
                        <option value="1">Activés</option>
                        <option value="0">Désactivés</option>
                    </select>
                </div>
                <div class="btn-group" role="group" data-toggle="buttons">
                    <label class="btn btn-outline-info btn-sm active" style="cursor: pointer" ng-click="subviewproduit = 'viewTable'" data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="Visionner en liste">
                        <input type="radio"><i class="icon-list"></i>
                    </label>
                    <label class="btn btn-outline-info btn-sm" style="cursor: pointer" ng-click="subviewproduit = 'viewGrille'" data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="Visionner en mozaïque">
                        <input type="radio"><i class="icon-grid"></i>
                    </label>
                </div>
            </div>
            <!--Vue Grille-->
            <div ng-if="subviewproduit === 'viewTable'" ng-include="'app/produits/views/vue-produits/vue-table.html'"></div>
            <!--Vue Mansory-->
            <div ng-if="subviewproduit === 'viewGrille'" class="" ng-include="'app/produits/views/vue-produits/vue-grille.html'"></div>
            <div ng-switch="searching">
                <div ng-switch-when="false">
                    <div ng-show="totalProduit >= 6" class="pagination pagination-sm float-sm-right mt-3">
                        <ul uib-pagination total-items="totalProduit" ng-model="currentPage" max-size="max_size" boundary-link-numbers="true" items-per-page="sizeProduit" ng-change="getProduits(currentPage -1,sizeProduit)" boundary-links="true" class="pagination-sm" rotate="true" force-ellipses="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                    </div>
                </div>
                <div ng-switch-when="true">
                    <div ng-show="totalProduit >= 6" class="pagination pagination-sm float-sm-right mt-3">
                        <ul uib-pagination total-items="totalProduit" ng-model="currentPageS" max-size="max_size" boundary-link-numbers="true" items-per-page="sizeProduit" ng-change="searchProduits(criteria,currentPageS -1,sizeProduit)" boundary-links="true" class="pagination-sm" rotate="true" force-ellipses="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
