<div class="animated fadeIn">

    <div class="email-app" >
        <nav>
            <label class="btn btn-primary btn-block font-weight-bold" disabled="true" style="z-index: 2; color: #fff !important; box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(32, 167, 216, 0.4);">Menu</label>
            <ul class="nav nav-pills">
                <li class="nav-item animated fadeIn" ng-click="subview = 'ajouter-produit'" ng-class="{'active': subview === 'ajouter-produit'}">
                    <a class="nav-link small font-weight-bold" href="#" ui-sref-active="active"><i class="fa fa-plus"></i>&nbsp;Nouveau produit</a>
                </li>
                <li class="nav-item animated fadeIn" ng-click="subview = 'mes-produits'" ng-class="{'active': subview === 'mes-produits'}">
                    <a class="nav-link small font-weight-bold" href="#" ui-sref-active="active"><i class="fa fa-dropbox"></i>&nbsp;Mes produits</a>
                </li>
            </ul>
        </nav>
        <main class="message">
            <div class="details">
                <div class="content">
                    <div ng-if="subview === 'ajouter-produit'" ng-include="'app/produits/views/ajout-produit.html'"></div>
                    <div ng-if="subview === 'mes-produits'" ng-include="'app/produits/views/mes-produits.html'"></div>
                </div>
            </div>
        </main>
    </div>

</div>

<!--Les modaux-->
<div id="autre-image-produit" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md modal-primary" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold text-uppercase"><i class="fa fa-image fa-1x"></i>&nbsp;|&nbsp;{{autresImages.libelle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-original-title="Fermer">
                    <span aria-hidden="true" class="text-dark"><i class="fa fa-close"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <!--<div class="other-pic">
                    <div ng-repeat="img in autresImages.listImageProduit">
                        <img class="d-block w-100" ng-src="{{img.image}}" alt="{{img.type}} slide" height="500" width="200">
                    </div>
                </div>-->
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item" ng-class="{'active': $index === 0}" ng-repeat="img in autresImages.listImageProduit">
                            <img class="d-block w-100" ng-src="{{img.image}}" alt="{{img.type}} slide" height="500" width="200">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="edit-produit" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-primary" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold text-uppercase"><i class="icon-pencil"></i>&nbsp;|&nbsp;Modifier&nbsp;{{editingProduit.libelle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-original-title="Fermer">
                    <span aria-hidden="true" class="text-dark"><i class="fa fa-close"></i></span>
                </button>
            </div>

            <div class="modal-body">
                <uib-tabset active="active">
                    <uib-tab index="1" heading="Détails">
                        <div class="card-body animated fadeIn">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <span class="form-text small text-muted">Référence du produit<span style="color: #f86c6b">&nbsp;*</span></span>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="icon-puzzle"></i></span>
                                                        <input ng-model="editingProduit.referenceProduit" upper-case type="text" class="form-control form-control-sm" placeholder="" limit-char-to="255" only-alpha-numeric ng-disabled="true">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <span class="form-text small text-muted">Libellé<span style="color: #f86c6b">&nbsp;*</span></span>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="icon-puzzle"></i></span>
                                                        <input ng-model="editingProduit.libelle" type="text" class="form-control form-control-sm" placeholder="" limit-char-to="255">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <span class="form-text small text-muted">Quantité<span style="color: #f86c6b">&nbsp;*</span></span>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                        <input ng-model="editingProduit.quantite" type="text" class="form-control form-control-sm" placeholder="" limit-char-to="3" number-only>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <span class="form-text small text-muted">Marque<span style="color: #f86c6b">&nbsp;*</span></span>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="icon-badge"></i></span>
                                                        <select ng-model="editingProduit.idMarque" class="form-control form-control-sm">
                                                            <option ng-selected="editingProduit.idMarque === m.id" ng-repeat="m in marques" value="{{m.id}}">{{m.libelle}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <span class="form-text small text-muted">Catégorie<span style="color: #f86c6b">&nbsp;*</span></span>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-tags"></i></span>
                                                        <select ng-model="editingProduit.idCategorie" ng-change="getSousCategories(editingProduit.idCategorie)" class="form-control form-control-sm">
                                                            <option ng-selected="editingProduit.idCategorie === c.id" ng-repeat="c in categories" value="{{c.id}}">{{c.libelle}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <span class="form-text small text-muted">Sous catégorie<span style="color: #f86c6b">&nbsp;*</span></span>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-tags"></i></span>
                                                        <select ng-model="editingProduit.idSousCategorie" class="form-control form-control-sm">
                                                            <option ng-selected="editingProduit.idSousCategorie === '80'" ng-repeat="sc in sousCategories" value="{{sc.id}}">{{sc.libelle}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <span class="form-text small text-muted">Prix<span style="color: #f86c6b">&nbsp;*</span></span>
                                                    <div class="input-group">
                                                        <input ng-model="editingProduit.prix" type="text" class="form-control form-control-sm" awnum num-thousand="true" num-thousand-sep="{{' '}}" num-int="10" placeholder="">
                                                        <span class="input-group-addon"><b class="small">fcfa</b></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <span class="form-text small text-muted">Prix min.<span style="color: #f86c6b">&nbsp;*</span></span>
                                                    <div class="input-group">
                                                        <input ng-model="editingProduit.prixMin" type="text" class="form-control form-control-sm" placeholder="" awnum num-thousand="true" num-thousand-sep="{{' '}}" num-int="{{minNum}}">
                                                        <span class="input-group-addon"><b class="small">fcfa</b></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <span class="form-text small text-muted">Prix max.<span style="color: #f86c6b">&nbsp;*</span></span>
                                                    <div class="input-group">
                                                        <input ng-model="editingProduit.prixMax" type="text" class="form-control form-control-sm" placeholder="" limit-char-to="10" awnum num-thousand="true" num-thousand-sep="{{' '}}" num-int="10">
                                                        <span class="input-group-addon"><b class="small">fcfa</b></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="row">
                                    <div class="col-md-12">
                                        <rzslider rz-slider-model="slider.minValue" rz-slider-high="slider.maxValue" rz-slider-options="slider.options"></rzslider>
                                    </div>
                                </div>-->
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <span class="form-text small text-muted">Taille<span style="color: #f86c6b">&nbsp;*</span></span>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><b class="small">cm</b></span>
                                                        <input ng-model="editingProduit.size" type="text" class="form-control form-control-sm" placeholder=""  awnum num-thousand="true" num-thousand-sep="{{' '}}" num-int="6">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <span class="form-text small text-muted">Poids<span style="color: #f86c6b">&nbsp;*</span></span>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><b class="small">kg</b></span>
                                                        <input ng-model="editingProduit.poids" type="text" class="form-control form-control-sm" placeholder=""  awnum num-thousand="true" num-thousand-sep="{{' '}}" num-int="6">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <span class="form-text small text-muted">Couleur(s)<span style="color: #f86c6b">&nbsp;*</span></span>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-eyedropper"></i></span>
                                                        <input ng-model="editingProduit.couleur" type="text" class="form-control form-control-sm" placeholder="" limit-char-to="255">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <text-angular class="ta-editor" placeholder="Description du produit" name="editingHtmlContentDescription" ng-model="editingProduit.description" ta-disabled='disabled' ta-toolbar="[['undo','redo'], ['bold','italics','underline'], ['indent', 'outdent'], ['p', 'ul', 'ol'], ['justifyLeft','justifyCenter','justifyRight','justifyFull'], ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']]" ta-html-editor-class="ta-small" ta-toolbar-button-class="btn btn-sm btn-secondary" ta-toolbar-active-button-class="active"></text-angular>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="2" heading="Image(s) du produit">
                        <div class="row animated fadeIn">
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-12">
                                        <!--Les images du produit-->
                                        <div class="form-group-sm row">
                                            <div class="col-md-12">
                                                <span class="small form-text text-muted">Image(s) du produit</span>
                                                <widget-dropzone options="dropzone" style="overflow-y: scroll"></widget-dropzone>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>

                <!--
                <v-tabs class="vTabs&#45;&#45;default mb-0" horizontal control="horizontalTabs" active="horizontalTabs.active">
                    <v-tab id="tabH_{{ ::page.id }}" aria-controls="pageV_{{ ::page.id }}" ng-repeat="page in pages" class="font-weight-bold">
                        {{::page.title}}
                    </v-tab>
                </v-tabs>

                <v-pages class="vPages&#45;&#45;default mb-0 mt-0" active="horizontalTabs.active">
                    <v-page id="pageH_1" aria-labelledby="tabH_1">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <span class="form-text small text-muted">Référence du produit<span style="color: #f86c6b">&nbsp;*</span></span>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="icon-puzzle"></i></span>
                                                        <input ng-model="editingProduit.referenceProduit" upper-case type="text" class="form-control form-control-sm" placeholder="" limit-char-to="255" only-alpha-numeric ng-disabled="true">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <span class="form-text small text-muted">Libellé<span style="color: #f86c6b">&nbsp;*</span></span>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="icon-puzzle"></i></span>
                                                        <input ng-model="editingProduit.libelle" type="text" class="form-control form-control-sm" placeholder="" limit-char-to="255">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <span class="form-text small text-muted">Quantité<span style="color: #f86c6b">&nbsp;*</span></span>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                        <input ng-model="editingProduit.quantite" type="text" class="form-control form-control-sm" placeholder="" limit-char-to="3" number-only>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <span class="form-text small text-muted">Marque<span style="color: #f86c6b">&nbsp;*</span></span>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="icon-badge"></i></span>
                                                        <select ng-model="editingProduit.idMarque" class="form-control form-control-sm">
                                                            <option ng-selected="editingProduit.idMarque === m.id" ng-repeat="m in marques" value="{{m.id}}">{{m.libelle}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <span class="form-text small text-muted">Catégorie<span style="color: #f86c6b">&nbsp;*</span></span>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-tags"></i></span>
                                                        <select ng-model="editingProduit.idCategorie" ng-change="getSousCategories(editingProduit.idCategorie)" class="form-control form-control-sm">
                                                            <option ng-selected="editingProduit.idCategorie === c.id" ng-repeat="c in categories" value="{{c.id}}">{{c.libelle}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <span class="form-text small text-muted">Sous catégorie<span style="color: #f86c6b">&nbsp;*</span></span>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-tags"></i></span>
                                                        <select ng-model="editingProduit.idSousCategorie" class="form-control form-control-sm">
                                                            <option ng-selected="editingProduit.idSousCategorie === '80'" ng-repeat="sc in sousCategories" value="{{sc.id}}">{{sc.libelle}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <span class="form-text small text-muted">Prix<span style="color: #f86c6b">&nbsp;*</span></span>
                                                    <div class="input-group">
                                                        <input ng-model="editingProduit.prix" type="text" class="form-control form-control-sm" awnum num-thousand="true" num-thousand-sep="{{' '}}" num-int="10" placeholder="">
                                                        <span class="input-group-addon"><b class="small">fcfa</b></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <span class="form-text small text-muted">Prix min.<span style="color: #f86c6b">&nbsp;*</span></span>
                                                    <div class="input-group">
                                                        <input ng-model="editingProduit.prixMin" type="text" class="form-control form-control-sm" placeholder="" awnum num-thousand="true" num-thousand-sep="{{' '}}" num-int="{{minNum}}">
                                                        <span class="input-group-addon"><b class="small">fcfa</b></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <span class="form-text small text-muted">Prix max.<span style="color: #f86c6b">&nbsp;*</span></span>
                                                    <div class="input-group">
                                                        <input ng-model="editingProduit.prixMax" type="text" class="form-control form-control-sm" placeholder="" limit-char-to="10" awnum num-thousand="true" num-thousand-sep="{{' '}}" num-int="10">
                                                        <span class="input-group-addon"><b class="small">fcfa</b></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    &lt;!&ndash;<div class="row">
                                        <div class="col-md-12">
                                            <rzslider rz-slider-model="slider.minValue" rz-slider-high="slider.maxValue" rz-slider-options="slider.options"></rzslider>
                                        </div>
                                    </div>&ndash;&gt;
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <span class="form-text small text-muted">Taille<span style="color: #f86c6b">&nbsp;*</span></span>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><b class="small">cm</b></span>
                                                        <input ng-model="editingProduit.size" type="text" class="form-control form-control-sm" placeholder=""  awnum num-thousand="true" num-thousand-sep="{{' '}}" num-int="6">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <span class="form-text small text-muted">Poids<span style="color: #f86c6b">&nbsp;*</span></span>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><b class="small">kg</b></span>
                                                        <input ng-model="editingProduit.poids" type="text" class="form-control form-control-sm" placeholder=""  awnum num-thousand="true" num-thousand-sep="{{' '}}" num-int="6">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <span class="form-text small text-muted">Couleur(s)<span style="color: #f86c6b">&nbsp;*</span></span>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-eyedropper"></i></span>
                                                        <input ng-model="editingProduit.couleur" type="text" class="form-control form-control-sm" placeholder="" limit-char-to="255">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <text-angular class="ta-editor" placeholder="Description du produit" name="editingHtmlContentDescription" ng-model="editingProduit.description" ta-disabled='disabled' ta-toolbar="[['undo','redo'], ['bold','italics','underline'], ['indent', 'outdent'], ['p', 'ul', 'ol'], ['justifyLeft','justifyCenter','justifyRight','justifyFull'], ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']]" ta-html-editor-class="ta-small" ta-toolbar-button-class="btn btn-sm btn-secondary" ta-toolbar-active-button-class="active"></text-angular>
                                </div>
                            </div>
                        </div>
                    </v-page>
                    <v-page id="pageH_2" aria-labelledby="tabH_2">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-12">
                                        &lt;!&ndash;Les images du produit&ndash;&gt;
                                        <div class="form-group-sm row">
                                            <div class="col-md-12">
                                                <span class="small form-text text-muted">Image(s) du produit</span>
                                                <widget-dropzone options="dropzone" style="overflow-y: scroll"></widget-dropzone>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </v-page>
                </v-pages>
                -->
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Fermer</button>
                <button ng-click="updateProduit(editingProduit)" type="button" class="btn btn-sm btn-primary">Modifier</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.other-pic').slick({
            slidesToScroll: 1,
            autoplay: 'true',
            autoplaySpeed: 3000
        });
    });
</script>

<style>
    li.active>a {
        /*color: #FFF !important;
        background-color: #FF6600 !important;
        !* background-color: #8F8F8F !important; *!
        box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(248, 85, 0, 0.4);
        font-weight: 500;*/
        z-index: 2;
        color: #fff !important;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(32, 167, 216, 0.4);
        background-color: #267491;
        border-color: #267491;
    }

    .ta-small  .ta-editor {
        height: 50px;
    }


</style>