<form action="/" class="dropzone dz-message dropzone-file-area" ng-attr-id="{{ options.id }}">

  <div class="dz-message needsclick disabled text-muted">
    <i class="fa fa-image fa-5x"></i>
    <h3>Glisser déposer ou cliquer</h3>
    <p>pour joindre une ou plusieurs image(s)</p>
    <p>NB: Image(s) à fond transparent de préférence</p>
  </div>

  <style>
    .dropzone {
      color: #333;
      border: 2px dashed #0087F78A;
      padding: 24px;
      margin: 0px 0;
      text-align: center;
      cursor: pointer;
      height: 400px;
      max-height: 400px;
    }
    .dropzone.vzScroll {
      height: 400px;
      overflow: auto;
      white-space: nowrap;
    }
    .dz-message {
      text-align: center;
      margin: 2em 0;
      font-weight: 400;
    }
    .dropzone .dz-default.dz-message span {
      display: block;
    }
    .dropzone-file-area {
      text-align: center!important;
    }
  </style>
</form>

