<header class="app-header navbar" ng-controller="logoutCtrl">
  <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" ui-sref="app.main">
    <img ng-src="{{globalsLogo.currentLogo.logoChanel.logo}}" height="54" width="55"/>&nbsp;<span class="font-weight-bold">{{globals.currentUser.chanelUserInfos.nomChanel}}</span>
  </a>
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebar-toggler" href="#">
        <span class="navbar-toggler-icon"></span>
      </a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto d-md-down-none" ng-controller="notificationCtrl">
    <li class="nav-item dropdown pr-4">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <img ng-src="img/flags/France.png" class="img-flag" alt="France" height="24" src="img/flags/France.png">
      </a>
      <div class="dropdown-menu dropdown-menu-right animated fadeIn">
        <a class="dropdown-item" href="#" ng-click="" style="">
          <img ng-src="img/flags/England.png" class="img-flag" alt="England" height="24" src="img/flags/England.png"> Anglais
        </a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon-people"></i><span id="notif" class="badge badge-pill" ng-class="getBadgeByNombreDemande(notifDemandeurs)" ng-bind="notifDemandeurs || 0">0</span></a>
      <div ng-include="'app/e-commerciaux/views/notifications/notification-demande.html'"></div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="icon-envelope"></i><span class="badge badge-pill badge-danger">{{'0'}}</span></a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <img src="img/admin.png" class="img-avatar" alt="admin@bootstrapmaster.com">
        <span class="d-md-down-none">{{globals.currentUser.chanelUserInfos.login | uppercase}}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right animated fadeIn">
        <a class="dropdown-item" ui-sref="app.profil" href="#"><i class="fa fa-user"></i> Profil</a>
        <div class="divider"></div>
        <a class="dropdown-item" href="" ng-click="logout(globals.currentUser.chanelUserInfos.id)"><i class="fa fa-power-off text-danger"></i> D&eacute;connexion</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link navbar-toggler aside-menu-toggler" href="#">
        <span class="navbar-toggler-icon"></span>
      </a>
    </li>

  </ul>
</header>
