<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i> Dashboard </a>
      </li>

      <li class="divider"></li>

      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.ecommerciaux"><i class="icon-star"></i> E-commerciaux </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.produits"><i class="icon-drawer"></i> Produits</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.suivis"><i class="icon-graph"></i> Suivis</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.utilisateurs"><i class="icon-people"></i> Utilisateurs</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.parametres"><i class="icon-settings"></i> Param&eacute;trages</a>
      </li>

      <!--<li class="nav-title">
        UI Elements
      </li>-->

    </ul>
  </nav>

  <button ng-click="toggleSteyloText(showCopyright)" class="minimized-toggler sidebar-minimizer" type="button"></button>

  <span ng-if="showCopyright" class="small text-left"><a href="#">Steylo</a> &copy; {{annee | date: 'yyyy'}}.</span>
</div>