<div class="animated fadeIn">

  <p class="h1 text-muted text-center">En cours de maintenance</p>
  <!--Pour ajouter un js_tree-->
  <!--<div class="card card-accent-primary">
    <div class="card-header">
      JSTREE
    </div>
    <div class="card-body">
      <div js-tree="treeConfig" ng-model="treeData" tree="treeInstance" tree-events="ready:readyCB;create_node:createNodeCB"></div>
    </div>
  </div>-->

</div>